.dashboard{
    margin-left: 20px;
    margin-top: 10px;
    overflow-y: visible;
}

.button-add{
    background-color: #4CAF50;
}

.button-delete{
    background-color: red;
}

.container{
    margin-top: 20px;
}

.container, .container-values {
    margin-bottom: 20px;
    padding: 0 10px;
    display: flex;
    justify-content: space-around;
}

.name, .phone{
    flex: 2;
    font-size: 20px;
    font-weight: bold;
    color: grey;
}

.delete-buttons {
    flex: 1;
}

.name-value, .phone-value {
    flex: 2;
    color: black;
    font-size: 16px;
}